body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url('gradient-background.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  font-family: sans-serif;
}

/* Disable blue highlight on button click */
button {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* You can do the same for links */
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

#score-panel {
    /* background: rgba(255, 255, 255, 0.2); */
    /* border-radius: 22px; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 30px; */
    /* backdrop-filter: blur(4.4px); */
    /* border: 1px solid rgba(255, 255, 255, 0.39); */
    padding: 20px 40px;
    margin-bottom: 20px;
    font-size: 16px;
}

h1, h2 {
    text-align: center;
}

.quiz-question {
    padding: 5px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 22px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(255, 255, 255, 0.39);
    padding: 20px 40px;
    margin: 40px;
}

.title {
    /*text-align: center;
    font-size: 24px;*/
    margin-bottom: 20px;
    /*margin-top: 20px;*/
    /*letter-spacing: 1px;*/
    position: relative;
    padding: 0px 0px 0px 50px;
    text-transform: uppercase;
  }

.options {
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

.submit-btn {
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: auto;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#result {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.flag-image {
  width: 50%;
  display: flex;
  margin: auto;
  filter: drop-shadow(0 0 0.5rem grey);
}

@media only screen and (max-width: 667px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }

      .socialIcons a{
      text-decoration: none;
      margin: 0px 20px;
    }

    .socialIcons{
      display: flex;
      justify-content: center;
    }

    .socialIcons a{
      text-decoration: none;
      /*padding:  10px;*/
      /*background-color: white;*/
      margin: 0px 20px;
      /*border-radius: 50%;*/
      color: blueviolet;
    }

    .socialIcons a i{
      font-size: 1em;
      /*color: black;*/
      opacity: 0,9;
    }

    .footerContainer{
      padding: 10px 0px 0px 0px;
    }

    .footerBottom{
      /*background-color: #000;*/
      /*padding: 20px;*/
      text-align: center;
      font-size: 12px;
    }

    .footerBottom p{
      color: blueviolet;
    }

    .additional-info {
      overflow: auto;
      max-height: 160px;
    }
}

@media only screen and (min-width: 667px) {
    .footerContainer{
      /*width: 100%;*/
      /*padding: 70px 30px 20px ;*/
    }

    .socialIcons{
      display: flex;
      justify-content: center;
    }

    .socialIcons a{
      text-decoration: none;
      /*padding:  10px;*/
      /*background-color: white;*/
      margin: 0px 20px;
      /*border-radius: 50%;*/
      color: blueviolet;
    }

    .socialIcons a i{
      font-size: 1em;
      /*color: black;*/
      opacity: 0,9;
    }

    .footerBottom{
      /*background-color: #000;*/
      /*padding: 20px;*/
      text-align: center;
    }

    .footerBottom p{
      color: blueviolet;
    }

    .designer{
      opacity: 1.0;
      /*text-transform: uppercase;*/
      letter-spacing: 1px;
      font-weight: 400;
      margin: 0px 5px;
    }
  }

footer{
  position: absolute;
  bottom: 0%;
  width: 100%;
}
.results {
    display: block;
    margin: 40px;
    padding: 5px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 22px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(255, 255, 255, 0.39);
    padding: 20px 40px;
}
