body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url('gradient-background.jpg');
  background-size: 100% 100%;
  font-family: sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

.quiz-question {
    margin-bottom: 20px;
    padding: 5px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(255, 255, 255, 0.39);
}

.title {
    /*text-align: center;
    font-size: 24px;*/
    margin-bottom: 20px;
    /*margin-top: 20px;*/
    /*letter-spacing: 1px;*/
    position: relative;
    padding: 0px 0px 0px 50px;
    text-transform: uppercase;
  }

.options {
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

.submit-btn {
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#result {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

@media only screen and (max-width: 667px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }
}
